.body {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
}

div.body p {
    border: 2px solid black;
    width: 75%;
}

.about_container {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.about__section {
    margin: 10px;
    padding: 10px;
    width: 75%;
    height: 300px;
    border: 1px solid black;
    box-shadow: 7px 7px grey;
    /* background-color: #FEFFF8; */
}

.about__sectionTitle {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-style: italic;
}

.image {
    border: 2px solid black;
}

@media screen and (max-width: 1050px){
    .flexContainer {
        justify-content: space-between;
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 800px){
    .flexContainer {
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .flexItem {
        margin: 7px;
        width:80%;
        height: auto;
    }
}

@media screen and (max-width: 450px){
    .flexContainer {
        flex-direction: column;
        margin-top: 70px;
    }

    .flexItem {
        width: 85%;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: none;
        border: none;
    }
}