.blog__post_container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
}

.blog__title{
    height: 50px;
}

.blog__post_container a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.blog__post_container a:hover{
    color: white;
    background-color: #4C516D;
}

.blog__post {
    border: 1px solid #4C516D;
    border-radius: 3px;
    box-shadow: 7px 7px grey;
    padding: 10px;
    width: 350px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.blog__post_title{}

.blog__post_date{}

.blog__post_total_words{}

.blog__post_description{}

@media screen and (max-width: 1100px){
    .blog__post_container {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .blog__post {
        margin: 7px;
        width:85%;
    }
}

@media screen and (max-width: 800px){
    .blog__post_container {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .blog__post {
        margin: 7px;
        width:85%;
    }
}

@media screen and (max-width: 450px){
    .blog__post_container {
        flex-direction: column;
        /* margin-top: 66px; */
    }

    .blog__title {
        margin-top: 66px;
        margin-bottom: 20px;
    }

    .blog__post_title {
        height: 70px;
    }

    .blog__post_date {
        height: 28px;
    }

    .blog__post_total_words {
        height: 25px;
    }

    .blog__post {
        width: 85%;
        margin-bottom: 30px;
        padding: 20px;
    }

    .blog__post a {
        font-size: 20px;
    }
}