.navigation {
    text-align: center;
  }
  
  .navigation__list {
      background-color: dodgerblue;
    }
  
  .navigation__listItem {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
  }
  
  .navigation__list li a {
      display: inline-block;
      color: black;
      text-decoration: none;
      transition: 0.2s;
    }

  .navigation__list li a.active {
      background-color: #4CAF50;
      color: white;
    }
/* 
@media screen and (max-width: 450px) {
   .navigation__listItem {
     margin-right: 10px;
   }
  } */