body {
  font-family: Helvetica, Arial, sans-serif;
}

.menuFlexContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: #34baef; */
}

.homeFlexItem {
  margin: 10px;
  padding: 10px;
}

.menuOptions a{
  text-decoration: none;
  color: black;
}

.menuOptions a:hover {
  transition: 0.9ms;
  color: royalblue;
  border-bottom: royalblue;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.flexItem {
  margin: 10px;
  padding: 10px;
  width: 75%;
  height: 300px;
  border: 1px solid black;
  box-shadow: 7px 7px grey;
}

.title {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.menu {
  max-width: 700px;
  text-align: center;
  color:black;
  margin: 0 auto;
}

@media screen and (max-width: 1050px){

}

@media screen and (max-width: 800px){

}

@media screen and (max-width: 450px){

  .menuFlexContainer {
    flex-direction: column;
  }
}