.navigation {
    border-bottom: 2px solid black;
    text-align: center;
    height: 68px;
    background-color: dodgerblue;
  }
  
  .navigation__list {
    text-align: right;
    }
  
  .navigation__listItem {
    margin-top: 25px;
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    font-size: 18px;
  }
  
  .navigation__list li a {
      display: inline-block;
      color: black;
      text-decoration: none;
      transition: 0.2s;
    }

  .navigation__list li a:hover {
      color: white;
      border-bottom: 3px solid white;
    }

@media screen and (max-width: 450px) {
  .navigation {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
  }
   .navigation__listItem {
     margin-right: 15px;
   }

   .navigation__list li a {
     transition: none;
     color: white;
   }

   .navigation__list li a:hover {
     border: none;
   }
  }