* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.home-page__header {
  /* border: 2px solid yellow; */
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  height: 275px;
  text-align: center;
  background-image: url("../src/images/18ZG_Thurs-029.jpg");
  background-size: cover;
  background-position: 50% 30%;
}

.home-page__middle-section {
  border-top: 3px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 254px;
}

.homepage__latest-posts-container {
  height: 180px;
  width: 700px;
  position: relative;
  bottom: 45px;
  text-align: center;
}

.homepage__latest-posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 9px;
}

.homepage__post {
  border: 2px solid black;
  border-radius: 4px;
  width: 30%;
  height:160px;
  margin-right: 13px;
  background-color: dodgerblue;
  transition: 0.2s;
  box-shadow: 7px 7px grey;
}


.homepage__post a {
  text-decoration: none;
  color: white;
}

.homepage__post:hover, .homepage__post:hover a {
  color: white;
  background-color: #4C516D;
}

.homepage__post-title{
  margin-top: 15px;
  width: auto;
  height: 52px;
}

.homepage__post-description {
  margin-top: 7px;
  padding: 5px;
  font-style: italic;
  height: 45px;
}

.homepage__post-date {
  margin-top: 5px;
  height: 52px;
}

.homepage__latest-posts-subtitle {
  /* font-style: italic; */
  position: relative;
  bottom: 30px;
}

.homepage__self-description {
  font-style: italic;
  font-weight: bold;
}

.footer {
  height: 163px;
  background-color: black;
  color: white;
  border-top: 3px solid gray;
}

.footer__menu-container {
  /* border: 1px dashed white; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 160px;
}

.footer__section {
  /* border: 1px dashed orange; */
  margin-right: 100px;
}

.footer__section-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: dodgerblue;
  border-bottom: 4px solid white;
  width: 280px;
}

.footer__list {
  text-align: left;
  padding: 0px;
}

.footer__section-list-item {
  list-style: none;
  margin-top: 15px;
  font-style: italic;
}

.footer__section-list-item a {
  color: white;
  text-decoration: none;
}

.footer__social-list-item {
  display: inline-block;
  margin-right: 40px;
}

@media screen and (max-width: 1050px){

}

@media screen and (max-width: 800px){

}

@media screen and (max-width: 450px){
  .home-page__middle-section {
    height: 382px;
    border-top: 3px solid black;
    /* background-color: black; */
  }

  .homepage__latest-posts-container {
    width: 375px;
    position: relative;
    top: 20px;
  }

  .homepage__latest-posts {
    flex-direction: column;
    top: 25px;
  }

  .homepage__post {
    margin-bottom: 5px;
    height: 108px;
    box-shadow: none;
    width: 375px;
    border-radius: 0;
  }

  .homepage__post-title {
    height: 13px;
  }

  .homepage__post-description {
    /* display: none; */
  }

  .homepage__latest-posts-subtitle {
    border-bottom: 3px solid gray;
    position: relative;
    bottom: 180px;
    font-style: italic;
  }

  .homepage__self-description {
    display: none;
  }

  .footer {
    height: 300px;
  }

  .footer__menu-container {
    flex-direction: column;
    justify-content: inherit;
  }

  .footer__section {
    margin-right: 0;
  }

  .footer__section-title {
    margin-top: 15px;
  }

  .footer__section-list-item {
    margin-top: 10px;
  }
}