* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.home-page__header {
  /* border: 2px solid yellow; */
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  height: 275px;
  text-align: center;
  background-image: url("../src/images/18ZG_Thurs-029.jpg");
  background-size: cover;
  background-position: 50% 30%;
}

.home-page__middle-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 254px;
}

.homepage__latest-posts-container {
  height: 180px;
  width: 700px;
  position: relative;
  bottom: 45px;
  text-align: center;
}

.homepage__latest-posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 9px;
}

.homepage__post {
  border: 2px solid black;
  border-radius: 4px;
  width: 30%;
  height:160px;
  margin-right: 13px;
  background-color: dodgerblue;
  transition: 0.2s;
  box-shadow: 7px 7px grey;
}


.homepage__post a {
  text-decoration: none;
  color: white;
}

.homepage__post:hover, .homepage__post:hover a {
  color: white;
  background-color: #4C516D;
}

.homepage__post-title{
  margin-top: 15px;
  width: auto;
  height: 52px;
}

.homepage__post-description {
  margin-top: 7px;
  padding: 5px;
  font-style: italic;
  height: 45px;
}

.homepage__post-date {
  margin-top: 5px;
  height: 52px;
}

.homepage__latest-posts-subtitle {
  font-style: italic;
  position: relative;
  bottom: 30px;
}

.homepage__subtitle {
  font-style: italic;
  font-weight: bold;
}

.footer {
  height: 160px;
  background-color: black;
  color: white;
}

@media screen and (max-width: 1050px){

}

@media screen and (max-width: 800px){

}

@media screen and (max-width: 450px){
  .image {
    display: none;
  }

  .homeFlexContainer {
    flex-direction: column;
  }
}