* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* .home-page{} */

.home-page__title {
  border: 2px solid yellow;
  /* background: linear-gradient(
    to right, 
    #fffdc2,
    #fffdc2 15%,
    #d7f0a2 15%,
    #d7f0a2 85%,
    #fffdc2 85%
  ); */
  font-family: Helvetica, Arial, sans-serif;
  height: 175px;
  text-align: center;
}

.home-page__menu-flex-container {
  border: 2px solid blue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 334px;
}

.home-page__menu-options a{
  transition: 0.15s ease-in-out;
  text-decoration: none;
  color: black;
}

.home-page__menu-options a:hover {
  font-size: 38px;
  color: royalblue;
}

.footer {
  border: 2px solid red;
  height: 180px;
  background-color: black;
  color: white;
}

@media screen and (max-width: 1050px){

}

@media screen and (max-width: 800px){

}

@media screen and (max-width: 450px){
  .image {
    display: none;
  }

  .homeFlexContainer {
    flex-direction: column;
  }
}